<div class="margen alert alert-info" *ngIf="juegos?.length == 0">
    No hay ningun juego.
    <button type="button" class="btn btn-primary float-right" routerLink="juegos/form">Añadir juego</button>
</div>

<div class="margen card border-primary mb-3" *ngIf="juegos?.length > 0">
    <div class="card-header">
        Juegos
        <button type="button" class="btn btn-primary float-right" (click)="switchID()">{{ showID ? 'Ocultar' : 'Ver' }} ID</button>
    </div>
    <div class="card-body text-primary">
        <table class="table table-striped">
            <thead>
                <th *ngIf="showID" scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha lanzamiento</th>
                <th scope="col">Precio</th>
                <th scope="col">PEGI</th>
                <th scope="col">Categoria</th>
                <th scope="col">Compañia</th>
                <th scope="col">Acciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let juego of juegos">
                        <td class="align-middle" *ngIf="showID" scope="row" [routerLink]="['/juegos/form', juego.idJuego]">{{juego.idJuego}}</td>
                        <td class="align-middle" [routerLink]="['/juegos/form', juego.idJuego]">{{juego.titulo}}</td>
                        <td class="align-middle" [routerLink]="['/juegos/form', juego.idJuego]">{{juego.fechaLanzamiento  | date: "dd/MM/yyyy" }}</td>
                        <td class="align-middle" [routerLink]="['/juegos/form', juego.idJuego]">{{juego.precio}}</td>
                        <td class="align-middle" [routerLink]="['/juegos/form', juego.idJuego]">{{juego.pegi}}</td>
                        <td class="align-middle" [routerLink]="['/juegos/form', juego.idJuego]">{{juego.categoria}}</td>
                        <td [routerLink]="['/juegos/form', juego.idJuego]"><p *ngFor="let compania of juego.companies">{{ compania.nombre }}</p></td>
                        <td class="align-middle"><button type="button" class="btn btn-primary float-right" (click)="deleteJuego(juego)">Eliminar</button></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>